<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
					class="oi oi-home"></i> <span th:text="#{sidebar.link.home}"></span>
			</a></li>
		</ul>
		<div sec:authorize="hasAuthority('userProfissional')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.candidatura}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/profissionais/aplicar}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.aplicar}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/profissionais/listarCandidaturas}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listarCandidatura}"></span>
				</a></li>
			</ul>
		</div>

		<div sec:authorize="hasAuthority('userEmpresa')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.vaga}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/empresas/cadastrarVagas}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrar}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/empresas/listarVagas}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
			</ul>
		</div>

		<div sec:authorize="hasAuthority('admin')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.profissional}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/usuarios/cadastrarProfissionais}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrar}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/usuarios/listarProfissionais}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
			</ul>
		</div>
		
		<div sec:authorize="hasAuthority('admin')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.empresa}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/usuarios/cadastrarEmpresas}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrar}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/usuarios/listarEmpresas}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>